div.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background: rgba(51, 51, 51, 0.25);
    backdrop-filter: blur(3px);
    border-bottom: 1px solid rgba(82, 82, 82, 0.329)
}

div.logo-container img{
    width: 120px;
}

div.menu-container ul{
    display: flex;
    padding:0 1rem;
}

div.menu-container ul li{
    padding: 1rem;
    list-style-type: none;
    color: #fff;
}


div.shop-container .shop-btn{
    padding: 0.4rem;
    border: 0.5px solid #fff;
    border-radius: 50%;
    background-color: rgba(53, 53, 53, 0.5);
    transition: all 200ms ease;
}

div.shop-container .shop-btn .shop-img{
    width: 1.2rem;
    height: 1.2rem;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
div.shop-container .shop-btn:hover{
    background-color:rgb(253, 169, 59) ;
    
} 