div.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background: rgba(51, 51, 51, 0.25);
    backdrop-filter: blur(3px);
    border-bottom: 1px solid var(--grey-transparent)
}

div.logo-container img{
    width: 100px;
    cursor: pointer;
}

div.menu-container ul{
    display: flex;
    padding:0 1rem;
}

div.menu-container ul li{
    padding: 1rem;
    list-style-type: none;
    color: #fff;
    cursor: pointer;
}

div.menu-container ul li:hover{
    filter: drop-shadow(8px 8px 8px var(--clr-light-grey));
}