.title-wrapper {
    width: 100%;
    margin: 2rem 0 1.5rem 0;
    background-color: var(--clr-primary);
    filter: drop-shadow(0px 2px 7px var(--black-transparent));

}

.title-wrapper h4 {
    padding: 0.25rem;
    letter-spacing: 1px;
    color: #fff;
}

section.category-wrapper {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.category-wrapper a {
    width: 80px;
    text-align: center;
    margin: 0 2rem;
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
    background: var(--clr-primary);
    border: 0.5px solid var(--clr-dark-grey);
    border-radius: var(--rnd-med);
    color:#fff;
    font-family: var(--font-2);
    font-style: normal;
    cursor: pointer;
    transition: all 200ms ease-in;
}
section.category-wrapper button:hover{
    filter: drop-shadow(0px 0px 2px var(--clr-light-grey));
}

section.main-wrapper hr{
    border-top: 1px solid var(--light-white-transparent);
}