div.card-container{
    position: relative;
    width: 200px;
    height: 230px;
    margin:5rem;
    padding: 0.5rem;
    border: 0.5px solid var(--clr-dark-grey);
    border-radius: 15px;
    background: var(--light-white-transparent);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-card {
    width: 70px;
    margin-top: -4rem;
}
div.text-container{
    display: flex;
    flex-direction: column;
    width: 180px;
    text-align: center;
}
div h4{
    color: #d3d3d3;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
div p{
    color: rgb(206, 206, 206);
    font-family: var(--font-2);
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
    font-size:0.8rem;
    text-align: center;
}
